/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

    .blog__list {
        grid-template-columns: minmax(200px, 600px);
        justify-content: center;
        grid-row-gap: 30px;
    }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)and (orientation : landscape){

    .menu__list{
        flex-direction: row !important;
    }

    .intro__slider{
        visibility: hidden;
    }

    .button__close__modal {
        top: 2.5vmax;
        right: -7vmax
    }

    .close__modal__icon {
        width: 4.5vw;
        height: 4.5vh;
    }
}

@media only screen and (max-width : 992px){

    body{
        overflow-x: hidden;
    }

    .header--fixed{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #f38181;
        padding: 3px 0;
        transition: all 0.4s ease;
        box-shadow: 0 1px 7px 0 #4c4c4c;
        z-index: 101;
    }

    .menu__list{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 6;
        transform: translateX(100%);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(to bottom, #f38181, #fce38a);
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s linear;
    }

    .menu__list--active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .menu__list--active .menu__item{
        opacity: 1;
    }

    .menu__item{
        margin-right: 0;
        opacity: 0;
        transition: all 0.4s ease;
    }

    .menu__link{
        font-size: 1.7vmax;
    }

    .menu__link::after{
        visibility: hidden;
    }

    .menu__item:nth-child(1){
        transition-delay: 0.5s;
    }

    .menu__item:nth-child(2){
        transition-delay: 0.6s;
    }

    .menu__item:nth-child(3){
        transition-delay: 0.7s;
    }

    .menu__item:nth-child(4){
        transition-delay: 0.8s;
    }

    .menu__item:nth-child(5){
        transition-delay: 0.9s;
    }

    @keyframes menuItemFadeIn {
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .burger{
        visibility: visible;
        position: static;
    }

    .intro__link{
        font-size: 1.7vmax;
        padding: 1.1vmax 2vmax;
    }

    .intro__slider__item {
        width: 20%;
    }

    .section__subtitle {
        font-size: 21px;
    }

    .section__title {
        font-size: 25px;
    }

    .section__title::after {
        width: 40px;
    }

    .card__text__title{
        font-size: 14px;
    }

    .card__text__icon {
        height: 25px;
        width: 25px;
    }
    
    .stat{
        display: block;
    }

    .stat__item {
        border-bottom: 1px solid #b5eae0;
        border-left: none;
    }

    .stat__item:last-child {
        border: none;
    }

    .stat__count {
        font-size: 60px;
    }

    .services__item {
        padding-left: 75px;
    }

    .services__icon {
        width: 30px;
        height: 30px;
    }

    .services__title {
        font-size: 13px
    }

    .services__text {
        font-size: 13px;
    }

    .service__present {
        margin-top: 60px;
    }

    .service__left {
        display: none;
    }

    .service__right {
        width: 100%;
    }

    .accordion__header__icon {
        width: 4vmax;
    }

    .accordion__header__title {
        font-size: 11px;
    }

    .accordion__header__arrow {
        border-bottom: 3px solid #cccccc;
        border-right: 3px solid #cccccc;
        width: 15px;
        height: 15px;
    }

    .testimonials__item {
        text-align: center;
        flex-direction: column;
        padding: 0 40px;
    }

    .testimonials__text{
        margin-left: 0;
        margin-top: 20px;
    }

    .testimonials__review {
        font-size: 17px
    }

    .testimonials__author {
        font-size: 21px;
    }

    .card-social-link {
        padding: 13px;
    }

    .social__item__icon {
        width: 17px;
        height: 17px;
    }

    .card-social-link:hover .social__item__icon {
        transform: scale(1);
    }

    .card__label__name {
        font-size: 13px;
    }

    .card__label__prof {
        font-size: 14px;
    }

    .brand__list{
        flex-wrap: wrap;
    }

    .brand__item {
        width: 32%;
        margin-bottom: 30px;
    }

    .brand__item:nth-child(4){
        margin-bottom: 0;
    }

    .brand__item:nth-child(5){
        margin-bottom: 0;
    }

    .brand__item:nth-child(6){
        margin-bottom: 0;
    }

    .brand__item__img{
        margin: 0 auto;
    }

    .work__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .work__item:last-child{
        grid-column: 2/4;
    }

    .clients__list {
        grid-template-columns: 1fr;
    }

    .clients__item {
        padding: 0 50px 0 190px;
    }

    .clients__photo img {
        width: 125px;
        height: 125px
    }

    .social__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    .social__subscribe{
        grid-column: 1/-1;
    }

    .subscribe__logo {
        margin-bottom: 20px;
    }

    .subscribe__text {
        margin-bottom: 40px;
    }

    .follow__list {
        margin-bottom: 30px
    }

    .subscribe__input {
        width: 70%;
    }

    .subscribe__btn {
        width: 30%;
        padding: 7px 7px;
    }

    .footer__copyright {
        font-size: 13px
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

    .intro__slider__num {
        visibility: hidden;
        position: absolute;
    }

    .card {
        grid-template-columns: minmax(200px, 400px);
        grid-row-gap: 30px;
        justify-content: center;
    }

    .stat__count {
        font-size: 50px;
    }

    .stat__title {
        font-size: 13px;
    }

    .services__list {
        flex-direction: column;
    }

    .services__item {
        margin-bottom: 25px;
    }

    .services__item:last-child {
        margin-bottom: 0;
    }

    .devices__item--iphone {
        display: none;
    }

    .testimonials__item__text blockquote {
        font-size: 15px;
    }

    .testimonials__item__author {
        font-size: 18px;
    }

    .brand__item {
        width: 50%;
    }

    .brand__item:nth-child(4) {
        margin-bottom: 20px;
    }

    .brand__item:nth-child(5) {
        margin-bottom: 0;
    }

    .brand__item:nth-child(6) {
        margin-bottom: 0;
    }

    .work__list{
        grid-template-columns: repeat(4, 1fr);
    }

    .work__item:nth-child(1){
        grid-column: 1/3;
    }

    .work__item:nth-child(2){
        grid-column: 3/5;
    }

    .work__item:nth-child(3){
        grid-column: 1/5;
        grid-row: auto;
    }

    .work__item:nth-child(4){
        grid-column: 1/3;
    }

    .work__item:nth-child(5){
        grid-column: 3/5;
    }

    .work__item:nth-child(6){
        grid-column: 1/-1;
    }

    .work__item:nth-child(7){
        grid-column: 1/-1;
    }

    .social__list {
        grid-template-columns: minmax(200px, 600px);
    }
}

@media only screen and (min-width : 480px) and (max-width: 600px) {

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

    .section{
        margin: 50px 0;
    }

    .section__devices{
        padding: 40px 0 0;
    }

    .intro__slider{
        visibility: hidden;
    }

    .clients__item {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .clients__photo {
        position: static;
    }

    .clients__photo img {
        position: static;
        margin: 0 auto;
    }

    .clients__name {
        margin-top: 15px;
    }

    .clients__prof::after {
        margin: 20px auto;
    }

    .brand__list {
        display: flex;
        flex-direction: column;
    }

    .brand__item {
        width: 100%;
    }

    .brand__item:nth-child(5) {
        margin-bottom: 20px;
    }

    .work__list{
        grid-template-columns: 1fr;
    }

    .work__item:nth-child(1){
        grid-column: initial;
    }

    .work__item:nth-child(2){
        grid-column: initial;
    }

    .work__item:nth-child(3){
        grid-column: initial;
    }

    .work__item:nth-child(4){
        grid-column: initial;
    }

    .work__item:nth-child(5){
        grid-column: initial;
    }

    .section__clients {
        padding: 50px 0;
    }

    .blog__date {
        padding: 10px 10px;
    }

    .blog__date--day {
        font-size: 21px;
    }

    .map__link__open {
        font-size: 19px;
    }

    .close__modal__icon {
        width: 4.5vw;
        height: 4.5vh;
    }

    .subscribe__form {
        max-width: 100%;
        flex-wrap: wrap
    }

    .subscribe__input{
        width: 100%;
        margin-bottom: 10px;
    }

    .subscribe__btn {
        width: 100%;
        padding: 13px 15px;
    }

    .publication__content{
        display: grid;
        grid-template-columns: minmax(auto, 400px);
        justify-content: flex-start;
    }

    .publication__text{
        margin-left: 0;
        margin-top: 20px;
    }
}

@media only screen and (min-width : 320px) and (max-width: 390px) {

    .intro__slider__section {
        display: none;
    }

    .section__subtitle {
        font-size: 17px;
    }

    .section__title {
        font-size: 20px;
    }

    .section__text {
        font-size: 13px;
    }

    .stat__count {
        font-size: 40px;
    }

    .stat__title {
        font-size: 11px;
    }

    .accordion__header__icon {
        width: 25px;
        height: 25px;
    }

    .accordion__header__arrow {
        width: 15px;
        height: 15px;
    }

    .testimonials__review {
        font-size: 14px;
    }

    .clients__text {
        font-size: 14px;
    }

    .blog__title {
        font-size: 13px;
    }

    .subscribe__list{
        flex-wrap: wrap;
    }

    .subscribe__proposal {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .subscribe__item {
        width: 12%;
        margin-right: 0;
    }

    .publication__link__title {
        font-size: 11px;
        line-height: 1.6;
    }

    .footer__copyright {
        font-size: 12px;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

    .subscribe__list{
        flex-wrap: wrap;
    }

    .follow--subscribe__proposal {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .subscribe__item {
        width: 12%;
        margin-right: 0;
    }

    .publication__link__title {
        font-size: 11px;
        line-height: 1.6;
    }

    .footer__copyright {
        font-size: 12px;
    }

}

@media only screen and (min-width: 1400px){
    .intro__inner{
        max-width: 78.9vw;
    }
}